<div class="card" style="width: 18rem;">
    <img src="<%= item.imageurl %> " class="card-img-top" alt="image">
    <div class="card-body">
      <h5 class="card-title"><%=item.title %> </h5>
      <p class="card-text"><%= item.description %> </p>
      <a href="/shop/edit/<%= item._id%> " class="btn btn-primary">Edit</a>
      <form action="<%= `shop/${item._id}` %>?_method=DELETE " method="post">
        <button type="submit" class="btn btn-danger">Remove</button>
      </form>
      <a href="#" class="btn btn-primary">Add to Cart</a>
      
      
    </div>
  </div>